#puzzle{
    width: 400px;
    margin: auto;
}
#puzzle h1{
   text-align: center;
}

.tile{
    background-image: url('pic.jpg');
   
    float: left;
    border: 1px solid silver;
    box-sizing: border-box;
}

#tile1{width:130px;height: 130px; background-position: 0px 0px}
#tile2{width:130px;height: 130px;background-position: -135px -0px}
#tile3{width:130px;height: 130px;background-position: -666px -0px}
#tile4{width:130px;height: 130px;background-position: 0px 261px}
#tile5{width:130px;height: 130px;background-position: -132px -134px}
#tile6{width:130px;height: 130px;background-position: -664px -133px}
#tile7{width:130px;height: 130px;background-position: -0px -672px}
#tile8{width:130px;height: 130px;background-position: -132px -662px}
#tile9{width:130px;height: 130px;background-position: -658px -661px}

#puzzle button{
    padding: 20px;
    margin: 20px 158px; 
}